.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-columns .card {
    display: inline-block;
    width: 100%;
}

.imgnormalizada img {
    width: auto;
    height: 225px;
    max-height: 225px;
}